
*.~1~
*.~2~
*.~4~
*.~5~
*.~6~
*.~7~
*.~3~
*.groupproj
*.dsk
*.local
*.~dsk
*.tvsconfig
*.identcache
*.res
*.skincfg
*.~71~
*.~72~
*.~69~
*.~70~
*.~68~
*.~73~
*.~74~
*.~75~
*.~67~
*.~76~
*.dcu
*.~54~
*.~55~
*.~53~
*.~52~
*.~50~
*.~51~
*.~48~
*.~47~
*.~46~
*.~49~
*.exe
*.~10~
*.~8~
*.~9~
